html, body {
  height: 100%;
  font-family: TUfont;
}

body {
  background-color: #00A6CA;
}

/*----Custom regular intro font-----*/
@font-face {
  font-family: TUfont;
  src:url(IntroRegular.ttf);
}
@font-face {
  font-family: TUbold;
  src:url(IntroBold.otf);
}

/*-------------------- Home Page --------------------*/

.node img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 7px 7px #494949; 
}

.node:hover img {
  transform: scale(1.1);
}

.profile {
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-100px;
  margin-left:-100px;
}

.profile img {
  width: 200px;
  height: 200px;
}

.content {
  position: relative;
  height: 90vh;
}

.footer {
  height: 10vh;
}

.footer img {
  display: block;
  margin: 0 auto;
}

/* Node positions */
#node-1 {
  position: absolute;
  top: 5%;
  left: 50%;
  margin-left: -55px;
}

#node-2 {
  position: absolute;
  top: 30%;
  left: 25%;
}

#node-3 {
  position: absolute;
  top: 30%;
  left: 66%;
}

#node-4 {
  position: absolute;
  top: 65%;
  left: 30%;
}

#node-5 {
  position: absolute;
  top: 65%;
  left: 61%;
}

/*-------------------- Cards --------------------*/
.Card {
  width: 250px;
  height: 150px;
  border-radius: 5%;
  background-color: #00A6CA;
  box-shadow: 7px 7px #494949;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 10px;
}

.Cards h1, h3 {
  text-align: center;
}

.Cards h4 {
  font-family: TUbold;
}


/*-------------------- Transactions Page --------------------*/

.backButton img {
  padding-top:10px;
  width: 75px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.transactions h1 {
  font-size: 45px;
  text-align: center;
  font-family: TUfont;
}

.transactions table {
  width: 80%;
  margin-left: 10%;
}

.table-headers th {
  font-family: TUfont;
  font-size: 35px;
  width: 35ex;
  border-bottom:solid 3px black;
}

.table-entries td {
  padding-top: 1ex;
  font-family: TUfont;
  font-size: 27px;
  width: 35ex;
}

/*-------------------- Credit --------------------*/
.Credit h1 {
  text-align: center;
}

.chart {
  width:60%;
  margin: 0 auto;
}