html, body {
  height: 100%;
}

body {
  background-color: #00A6CA;
}

/*----Custom regular intro font-----*/
@font-face {
  font-family:TUfont;
  src:url(IntroRegular.ttf);
}

/*-------------------- Home Page --------------------*/

.node img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 7px 7px #494949; 
}

.profile {
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-100px;
  margin-left:-100px;
}

.profile img {
  width: 200px;
  height: 200px;
}

.profilePicture:hover {
  opacity: 0.4;
}

.profileText a {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top:-10px;
  margin-left: -50px;
  visibility: hidden;
  font-family: TUfont;
}

.profile:hover a {
  visibility: visible;
}

.content {
  position: relative;
  height: 90vh;
}

.footer {
  height: 10vh;
}

.footer img {
  display: block;
  margin: 0 auto;
}

/* Node positions */
#node-1 {
  position: absolute;
  top: 5%;
  left: 50%;
  margin-left: -55px;
}

#node-2 {
  position: absolute;
  top: 30%;
  left: 25%;
}

#node-3 {
  position: absolute;
  top: 30%;
  left: 66%;
}

#node-4 {
  position: absolute;
  top: 65%;
  left: 30%;
}

#node-5 {
  position: absolute;
  top: 65%;
  left: 61%;
}

/*-------------------- Transactions Page --------------------*/

.backButton img {
  width: 75px;
  float: left;
}

.transactions h1 {
  padding-top: 40px;
  font-size: 45px;
  text-align: center;
  font-family: TUfont;
}

.transactions table {
  width: 80%;
  margin-left: 10%;
}

.table-headers th {
  font-family: TUfont;
  font-size: 35px;
  width: 35ex;
  border-bottom:solid 3px black;
}

.table-entries td {
  padding-top: 1ex;
  font-family: TUfont;
  font-size: 27px;
  width: 35ex;
}

/* .griddle-table {
  padding-top: 20px;
  margin-left: 10%;
  width: 80%;
}

.griddle-table-heading-cell {
  font-family: TUfont;
  font-size: 35px;
  padding-bottom: 10px;
  border-bottom: solid 3px black;
}

.griddle-cell {
  font-size: 25px;
  padding-top: 15px;
} */